[submodule "personalblogsite/public"]
	path = personalblogsite/public
	url = https://github.com/SiddheshKanawade/siddheshkanawade.github.io.git
	branch = master
[submodule "personalblogsite/themes/hello-friend-ng"]
	path = personalblogsite/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
